{% extends "base.html" %}

{% load community_tags %}

{% block content %}

{% voted_for_objects posts_list %}
{% for post in posts_list %}
<div>
    <h2>{{ post.type }} - <a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
    {{ post.get_last_author|safe }} |
    {{ post.category.name }}<br /><br />
    <a class="comments" href="{{ post.get_absolute_url }}">{{ post.comments_count }} comment{{ post.comments_count|pluralize }} </a>
	
	{% if post.status == 2 or post.status == 3 %}
	{% rating_for post model="post" %}
	{% endif %}
</div>
{% endfor %}

{% endblock %}