<div class="rating">
	{% if rating_obj.has_voted %}
	<span class="thumbs_up{% if rating_obj.user_vote > 0 %} selected{% endif %}">
		<i class="icon_thumbs_up"></i>
		{{ rating_obj.rating_likes }}
	</span>
	<span class="thumbs_down{% if rating_obj.user_vote < 0 %} selected{% endif %}">
		<i class="icon_thumbs_down"></i>
		{{ rating_obj.rating_dislikes }}
	</span>
	{% else %}
	<a href="{% url "add_vote" model=rating_model id=rating_obj.id direction="up" %}" class="thumbs_up">
		<i class="icon_thumbs_up"></i>
		<span class="votes_count">{{ rating_obj.rating_likes }}</span>
	</a>
	<a href="{% url "add_vote" model=rating_model id=rating_obj.id direction="down" %}" class="thumbs_down">
		<i class="icon_thumbs_down"></i>
		<span class="votes_count">{{ rating_obj.rating_dislikes }}</span>
	</a>
	{% endif %}
</div>