{% load staticfiles i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Nouweo</title>
        <link rel="stylesheet" href="{% static "css/bootstrap.3.1.1.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.3.1.1.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/nw.base.css" %}" />
    </head>
    <body>
    
    <ul id="navigation" class="button-group radius">
        <li><a href="{% url "posts_draft" %}" class="small button">{% trans "Draft" %}</a></li>
        <li><a href="{% url "posts_pending" %}" class="small button">{% trans "Pending" %}</a></li>
        <li class="dropdown">
            <a href="{% url "add_news" %}" class="small button" id="dropAddContent" role="button" data-toggle="dropdown" data-target="#">{% trans "Write" %} <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dropAddContent">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "add_news" %}">{% trans "News" %}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "add_news" %}">{% trans "Picture" %}</a></li>
            </ul>
        </li>
    </ul>

    <ol class="breadcrumb">
        <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
        {% block breadcrumbs %}{% endblock %}
    </ol>

    {% block content %}{% endblock %}

    <script src="{% static "js/jquery.2.1.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/common.js" %}"></script>
    <script>
    $(function(){
        $('.dropdown-toggle').dropdown();
    })
    </body>
</html>